.diceStyling {
    margin-left: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 4rem;
    height: 4rem;
    background: #00bfff;
    box-shadow: 6px 6px 6px #00000099;
    border-radius: 7px;
    font-family: sans-serif;
    text-shadow: none;
}