.buttonStyling {
        border: 0;
        background: darkgreen;
        border-radius: 6px;
        font-size: 23px;
        width: 8rem;
        height: 1.7rem;
        color: #fff;
  
        &:hover {
          scale: 1.1;
          cursor: pointer;
        }
}